# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/ 
real-estate-and-flight-firebase-adminsdk-rdgit-a1b8b62f0a.json